 <div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      
      <%= link_to post.title, topic_post_path(post.topic, post) %>
      <small>

       <%= image_tag(post.user.avatar.tiny.url) if post.user.avatar? %>
       submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %><br/>
       <%= post.comments.count %> Comments
     </small>
    </h4>
  </div>
</div>